*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 40px;
}

form{
    background-color: rgba(29, 100, 206, 0.5);
    max-width: 400px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: auto;
    border: 6px solid rgb(0, 174, 255);
}

h1{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    text-align: center;
}

h2,h3,h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

select{
    max-width: 200px;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 2px solid rgb(52, 101, 236) ;
}

button{
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    background-color: rgba(10, 52, 167, 0.418);
    color: #fff;
    transition: 0.5s;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button:hover{
    background-color: rgb(10, 52, 167);
}

p{
    color: #000;
    line-height: 1.7em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid #fff;
text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

div{
    background-color: #fff;
    padding: 31px 15px;
    border-radius: 50%;
    max-width: 50px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

div>b{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}